body{   /*this body section will add styles to the whole page*/
    background-color: rgb(21, 2, 87); /*This changes the background colour*/
    text-align: center; /*This piece of code makes all content center in to the middle*/
    
} 



.TAB{
    background-color: orange;
    height: 150px;
    width: 95%;

}

.m{ background-color: rgb(67, 112, 151);
    height: 50px;
    width: 100%;    
}

.header{
    background-color: rgb(53, 177, 5);
    height: 75px;
    width: 26%;
    float: left;
    margin-left: 37%;
    margin-top: 10%;
}   


    .r{
    background-color: rgb(255, 230, 0); 
    width: 27%;
    height: 600px; 
    float: left;
    margin-top: 10%;
    margin-left: 15%;

    }
    .c{
   
      background-color: rgb(255, 230, 0);
    width: 27%;
    height: 600px; 
    float: right;
    margin-top: 10%;
    margin-right: 15%;
   
}
.l{
    background-color: rgb(255, 230, 0); 
    width: 27%;
    height: 300px; 
    float: left;
    margin-top: 10%;
    margin-left: 15%;
}
.p{

  background-color: rgb(255, 230, 0);
width: 27%;
height: 300px; 
float: right;
margin-top: 10%;
margin-right: 15%;

}


.body{
    background-color: orange;
}
.header{
    background-color: rgb(255, 145, 0);
}



.box1{
  text-align: center;
  width: 100%;
  height: 650px;
  background-color: rgb(255, 255, 255);
  float: left;
}
.box2{
    text-align: center;
    width: 60%;
    height: 900px;
    background-color: rgb(248, 185, 10);
    float: left;
margin-left: 20%;
margin-top: 10%;
}
.box3{
    text-align: center;
    width: 33%;
    height: 650px;
    background-color: green;
    float: left;
}

.footer{
    background-color: aliceblue;
    width: 100%;
    height: 5%;
}

ul{
list-style-type: none;
}

li{
    float: left;
}

li a{
display: block;
color: rgb(0, 0, 0);
text-align: left;
text-decoration: none;
padding-left: 20px;
padding-top: 16px;
}

li a:hover {
    color: rgb(0, 255, 255);
 
}

body{ background-image: url(images/sunny.jpg);
background-repeat: no-repeat;
background-position: center;
height: 100%;
width: 100%;
}
.t{background-color: rgb(0, 195, 255); 
    width: 1%;
    height: 1px; 
    float: left;
    margin-top: 80%;
    


}
.i{
   
    background-color: rgb(255, 187, 0);
  width: 27%;
  height: 700px; 
  float: left;
  margin-top: 10%;
  margin-left: 20%;
 
}
.o{
    background-color: rgb(255, 187, 0); 
    width: 27%;
    height: 700px; 
    float: left;
    margin-top: 10%;
    margin-left: 15%;

    }

    .baf{
    background-color: rgb(255, 174, 0);
    width: 25%;
    height: 250px;
    float: left;
    margin-top: 100px;
    margin-left: 7%;
    }
    .cafe{
    background-color: rgb(255, 174, 0);
    width: 25%;
    height: 250px;
    float: left;
    margin-top: 100px;
    
    margin-left: 33%;


}
.table{

    background-color: rgb(255, 174, 0);
    width: 25%;
    height: 250px;
    float: left;
    margin-top: 50px;
    margin-left: 7%;


}
.sanji{
    background-color: rgb(255, 174, 0);
    width: 25%;
    height: 250px;
    float: left;
    margin-top: 50px;
    
margin-left: 33%;


}

 .k{
    background-color: rgb(255, 187, 0);
    width: 33%;
    height: 300px;
    margin-left: 33%;
    margin-top: 700px;
    


}
.n{ 
background-color: yellow;
height: 110px;
width: 110%;
}

